{
  "extends": "eslint-config-okonet",
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules"]
    }
  },
    "rules": {
        "react/no-find-dom-node": 0,
        "import/no-extraneous-dependencies": 0
    }
}
